boto3
mkdocs-material
mkdocs-cinder
mkdocs-rtd-dropdown
mkdocs-windmill
mkdocs-bootstrap
mkdocs-bootswatch
mkdocs-bootstrap386
mkdocs-gitbook
mkdocs-ivory
mkdocs-terminal
mkdocs-awesome-pages-plugin
mkdocs-section-index
mkdocs-literate-nav
mkdocs-autolinks-plugin
mkdocs-redirects
mkdocs-htmlproofer-plugin
mkdocs-minify-plugin
mkdocs-include-markdown-plugin
mkdocs-git-revision-date-plugin
mkdocs-git-authors-plugin
mkdocs-with-pdf
mkdocs-pdf-export-plugin
mkdocs-bibtex
mkdocs-mermaid2-plugin
mkdocs-git-revision-date-localized-plugin
